Package: com.trap.testingcheats
Name: testing cheats
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: an awesome tweak
Maintainer: trap
Author: root
Section: Tweaks
Homepage: http://iosgods.com
